@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background: #282c34;
  color: #343a40;
}

img {
  width: 100%;
}

.text-center {
  text-align: center;
}

.highlight-green {
  color: #28a745;
}

.highlight-red {
  color: #dc3545;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.three-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

/* Landing Page */

.landing-page {
  background: #000;
  color: #f8f9fa;
  height: 100%;
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.landing-container {
  padding: 50px;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
}

.user-name {
  background: #343a40;
  padding: 10px 5px;
  border: none;
  color: #f8f9fa;
  margin: 10px auto;
  font-size: 18px;
  text-align: center;
  outline: none;
}

.submit-button {
  background: #28a745;
  border: none;
  padding: 8px;
  margin: 5px auto;
  display: block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.close-button {
  background: #dc3545;
  color: #f8f9fa;
  border: none;
  padding: 8px;
  margin: 10px auto;
  display: block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

/* NAVBAR */
.nav-container {
  background: #282c34;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px 10px 30px 10px;
}

.home-box {
  background: #f8f9fa;
  color: #28a745;
  padding: 2px 8px;
  border-radius: 4px;
}

.nav-box ul {
  list-style-type: none;
}

.nav-box li {
  display: inline;
  margin: 0 10px;
}

.links {
  color: #f8f9fa;
  text-decoration: none;
  background: #28a745;
  padding: 2px 4px;
}

.links:hover {
  background: #f8f9fa;
  color: #28a745;
}

.container {
  width: 80%;
  margin: auto;
}

/* Home */

.home-content {
  position: relative;
}

.showcase {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

.about-me {
  position: absolute; /*it can be fixed too*/
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #f8f9fa;
  color: #282c34;
  opacity: 0.8;
  width: 80%;
  max-height: 350px;
  border-radius: 4px;
}

section {
  margin: 20px;
}

section p {
  margin: 10px 0;
}

/* Skills */

.skills-container {
  background: #f8f9fa;
  padding: 20px 10px;
  margin: 10px auto 200px auto;
  border-radius: 4px;
}

.technical-skills-container {
  padding: 20px;
}

.technical-skills-container ul {
  padding-left: 20px;
}

.flex-box {
  /* background: red; */
  margin: 0 8px;
  padding: 5px;
}

/* Career */

.career-container {
  margin-bottom: 200px;
}

.work-experience-container,
.education-container {
  background: #f8f9fa;
  padding: 20px 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.experience-container,
.education-item-container {
  padding: 20px;
}

/* Projects */
.projects-container {
  /* background: #f8f9fa; */
  color: #f8f9fa;
  padding: 10px;
  border-radius: 4px;
}

.project-header h3 {
  margin: 10px auto;
}

/* Contact */

.contact-container {
  /* background: #f8f9fa; */
  padding: 10px;
  border-radius: 4px;
  height: 720px;
}

.contact-details,
.contact-details p {
  margin: 10px auto;
}

.contact-link {
  text-decoration: none;
  margin: 0 5px;
  color: #282c34;
}

.two-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.grid-box {
  padding: 10px;
  width: 80%;
  margin: auto;
  background: #f8f9fa;
  border-radius: 4px;
}

.link-linkedin,
.link-github {
  margin: 2px 5px;
  font-size: 24px;
}

.info-container {
  padding: 20px 0;
}

.form-box {
  padding: 50px 0;
}

.form-container {
  padding: 10px;
}

.form-container input,
textarea {
  display: block;
  /* width: 100%; */
}

.input-field,
.message-field {
  font-size: 14px;
  background: #f8f9fa;
  width: 100%;
  padding: 10px;
  margin: 0 auto 20px auto;
  border: none;
  outline: none;
  border-bottom: 1px solid #282c34;
}

.input-field {
  height: 30px;
}

.message-field {
  resize: none;
}

.form-container label {
  font-weight: bolder;
}

textarea {
  height: 150px;
}

.send-button {
  background: #28a745;
  color: #f8f9fa;
  margin: 10px auto;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  width: 20%;
}

/* Footer */

footer {
  height: 100px;
  background: #282c34;
  color: #f8f9fa;
}

.footer-container {
  width: 80%;
  margin: auto;
  padding-top: 20px;
  text-align: center;
}

.links-container {
  padding: 5px;
  width: 20%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.link-footer {
  font-size: 22px;
}

/* Media Queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .nav-container {
    flex-direction: column;
  }
  .nav-box {
    margin: 10px auto;
    text-align: center;
  }
  .nav-box li {
    display: block;
    margin: 10px auto;
  }
  .showcase {
    display: block;
    opacity: 1;
  }
  .about-me {
    display: block;
    position: relative;
    background: #f8f9fa;
    color: #343a40;
    opacity: 1;
    width: 100%;
    max-height: 100%;
    padding: 5px;
    border-radius: 0%;
  }
  .flex-container {
    flex-direction: column;
  }
  .container {
    width: 100%;
  }
  .work-experience-container,
  .education-container,
  .skills-container {
    border-radius: 0%;
  }
  .two-grid {
    grid-template-columns: 1fr;
  }
  .three-grid {
    grid-template-columns: 1fr;
  }
  .contact-container {
    margin-bottom: 150px;
  }
  .links-container {
    width: 40%;
  }
  .send-button {
    width: 30%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .skills-container,
  .projects-container {
    margin-bottom: 200px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .skills-container {
    margin-bottom: 500px;
  }

  .contact-container {
    margin-bottom: 250px;
  }
}
